@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {

}

/* NAVIGATION */
nav {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;
    margin-left: 6em;
    margin-right:6em;
    gap:1em;
   
}

.nav {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}


ul {
    list-style-type: none;
    display:flex;
    justify-content: flex-end;
    gap:30px;
    opacity:100%;
 }

#logo {
        font-size: 24px;
        font-weight: 900;
        color: #F9FAF8;
}

.left-nav:hover {
    transform: translateY(-10px);
}
a.two:hover {
    transform: translateY(-10px);
}
a.one:hover {
    transform: translateY(-10px);
}
a.three:hover {
    transform: translateY(-10px);
}


/* end of NAV */

/* Header-content*/
h1 {
font-size: 3rem;
font-weight: 900;
margin-bottom: 1rem;
color: azure;

}

h1 {
    animation: shadows 2s infinite
}



.left p {
font-size: 1.2rem;
}

.left button {
    margin-top: 2em;
    background-color: #3882f6;
    border: 1px solid #3882f6;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 0.7rem;
}
  
.left button:hover {
cursor: pointer;
background-color: rgb(72, 72, 250);
}
  
h2 {
text-align: center;
padding: 2rem;
text-decoration: dashed;
color: white;
border-radius: 20%;

margin-top: 1em;

}

.header-content {
display: -webkit-flex;
justify-content: center;
gap:10em;
flex-wrap: wrap;
}
.header-content p {
    color: white;
}


.right img {
width: 100%;
height: 30vh;
object-fit:cover;


}
    
.left,.right {
padding: 15px;
}

.left p {
max-width: 17em;
text-align: center;
}

.left {
    text-align: center;
    margin-top: 5em;
}

/*end of header-content */



/*Main styling */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 0 6em 0;
    gap: 10em;
  
    
    
}

.card {
 text-align: center;
 max-width: 300px;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 18em;
 margin-bottom: 3em;
 border-radius: 50%;
 border-width: 1em;
 position: relative;
 z-index: 0;
 transition: .3s;
cursor: pointer;
 
}

.card:hover {
box-shadow: 0 0 50px 15px #48abe0;
border-radius: 50%;
transform: translateY(-10px)

    
}


.card img {
 color: white;
border-radius: 50%;   
}


main {
  
    
}

/* glow effect */
.main-title {
font-family: sans-serif;
padding: 0;
display: flex;
justify-content: center;
font-family:
}

.glow {
color: white;

font-size: 4em;

}

h2 {
animation: shadows 2s infinite
}

@keyframes shadows {
  0% { text-shadow: #48abe0 0 0 10px; }
 50% { text-shadow: blueviolet 0 0 10px; }
  75% { text-shadow: rebeccapurple 0 0 10px;}
100% { text-shadow: #48abe0 0 0 10px; }
}

/* glow effect */



.second-content {
padding: 1em 1em;
display: flex;
flex-wrap: wrap;
justify-content: center



}
/*Main styling */


body {

}


.quote {
padding: 2em;
padding: 0em;
display: flex;
flex-wrap: wrap;
max-width: 57em;

}

.quote p {
margin-top: 1em;
margin-bottom: 1em;
font-size: 2.5em;
display: flex;
   
animation: shadows 2s infinite

    

}

#background {
position: fixed;
width: 100%;
height: 100%;
object-fit: cover;
top: 0;
left: 0;
filter: brightness(1.2);
z-index: -2;
}

/* end of main */


/*quote */

.quote-wrapper {
display: flex;
justify-content: center;
background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);


}


.smallp p {
font-size: 1.5em;
margin-left: 13em;
flex-wrap: wrap;
}



/*footer */
footer {
    padding:5em;
    display: flex;
    justify-content:center ;
    
}

.calltoaction {
display: flex;
height: 10em;
width: 50em;
background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
justify-content: space-around;
align-items: center;


}
.btntext {
font-size: 2em;
display: flex;
}

.smlbtntxt {
font-size: 1em ;

}
.buttons {
 

}

.rightbtn button {
        margin-top: 2em;
        background-color: #3882f6;
        border: 1px solid #3882f6;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        padding: 0.5rem 2rem 0.5rem 2rem;
        border-radius: 0.7rem;
    }
      
.rightbtn button:hover {
    cursor: pointer;
    background-color: rgb(72, 72, 250);
}

.end-text {
padding:1em;
background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
text-align: center;
}


.


      






  













































